@namespace RizzyDemo.Components.Shared

<div class="counter">
    <p role="status">Current count: @State.Value</p>
    <button class="btn btn-primary"
            hx-post="/home/count"
            hx-target="closest .counter"
            hx-swap="outerHTML">
        Click me
    </button>
</div>
