
<div class="alert alert-info">
	<span class="text-lg-center">
	@if (Message == null)
	{
		<span>Fetching current mood...</span>
	}
	else
	{
		@Message
	}
	</span>
</div>

@code{
	[Parameter]
	public string? Message { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await Task.Delay(3000);

		Message = "My mood is happy";
	}

}