@import "tailwindcss";
@import "@jalexsocial/rizzyui/dist/css/rizzyui-plugin.css";
@plugin "@tailwindcss/forms";
@plugin "@tailwindcss/typography";

@theme {
    --default-font-family: 'Inter', 'Figtree', 'open sans';
    --color-surface: var(--color-white);
    --color-on-surface: var(--color-slate-700);
    --color-on-surface-strong: var(--color-black);
    --color-on-surface-muted: var(--color-neutral-500);
    --color-surface-alt: var(--color-slate-100);
    --color-primary: var(--color-blue-700);
    --color-on-primary: var(--color-slate-100);
    --color-secondary: var(--color-indigo-700);
    --color-on-secondary: var(--color-slate-100);
    --color-outline: var(--color-slate-300);
    --color-outline-strong: var(--color-slate-800);
    --color-surface-dark: var(--color-slate-900);
    --color-on-surface-dark: var(--color-slate-300);
    --color-on-surface-dark-strong: var(--color-white);
    --color-on-surface-dark-muted: var(--color-neutral-500);
    --color-surface-dark-alt: var(--color-slate-800);
    --color-primary-dark: var(--color-blue-600);
    --color-on-primary-dark: var(--color-slate-100);
    --color-secondary-dark: var(--color-indigo-600);
    --color-on-secondary-dark: var(--color-slate-100);
    --color-outline-dark: var(--color-slate-700);
    --color-outline-dark-strong: var(--color-slate-300);
    --color-danger: var(--color-red-600);
    --color-on-danger: var(--color-white);
    --color-info: var(--color-sky-600);
    --color-onInfo: var(--color-white);
    --color-warning: var(--color-amber-500);
    --color-on-warning: var(--color-white);
    --color-success: var(--color-green-600);
    --color-on-success: var(--color-white);
    --borderWidth: 1px;
    --borderRadius: 6px;
    --radius-theme: var(--borderRadius);
    --border-theme: var(--borderWidth);
}

/* Flatpickr styling */
@import "./vendor/flatpickr.css";
