@using Rizzy.Components

@inherits LayoutComponentBase

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <HtmxConfigHeadOutlet />
    <base href="/"/>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="RizzyDemo.styles.css"/>

    <link rel="icon" type="image/png" href="favicon.png"/>
    <RzHeadOutlet/>

	<script src="https://unpkg.com/htmx.org@2.0.4" integrity="sha384-HGfztofotfshcF7+8n44JQL2oJmowVChPTg48S+jvZoztPfvwD79OC/LTtG6dMp+" crossorigin="anonymous"></script>
    <script src="_content/Rizzy/dist/rizzy.js" type="module"></script>
</head>
<body>
@Body

<HtmxSwapContent/>

</body>
</html>
