@inherits LayoutComponentBase

<div class="page">
    <div id="sidebar" class="sidebar">
        <NavMenu/>
    </div>

    <main>
	    <div class="top-row px-4">
            <div id="time" hx-get="/home/time" hx-trigger="every 1s"></div>
		    <a href="https://learn.microsoft.com/aspnet/core/" target="_blank">About</a>
	    </div>

		<div id="alert" class="my-2 container">
	    </div>

	    <article class="content px-4">
		    @Body
	    </article>
    </main>
</div>


