@using RizzyDemo.Components.Shared
@using Rizzy
@inject HtmxCounter.HtmxCounterState CounterState

<RzPageTitle>Counter</RzPageTitle>

<div class="container">
    <h1>Counter</h1>

    <div class="mb-4">
        <HtmxCounter State="CounterState"/>
    </div>
</div>


@code {
    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

	protected override void OnInitialized()
	{
		// reset counter on page reloads
		CounterState.Value = 0;
	}
}