@using Rizzy.Framework.Mvc
@using Rizzy.Framework.Services
@using RizzyDemo.Components.Layout
@using Rizzy.Components.Swap.Services

<PageTitle>Home Page</PageTitle>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div id="message"></div>

@{
	var guid = Guid.NewGuid().ToString();
}
Content Guid: @guid

@code {
    [Inject] IHtmxSwapService SwapService { get; set; }

    [CascadingParameter] 
    public RzViewContext? ViewContext { get; set; }

    protected override void OnInitialized()
    {
        SwapService.AddRawContent("TEST TEST TEST TEST TEST");
    }

    protected override void OnParametersSet()
    {
        
        base.OnParametersSet();
    }

}