@using Rizzy.Framework.Mvc
@using Rizzy.Framework.Services
@using RizzyDemo.Components.Layout

<PageTitle>Home Page</PageTitle>

<div class="text-center">
	<h1 class="display-4">Welcome</h1>
	<p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@{
	var guid = Guid.NewGuid().ToString();
}
Content Guid: @guid

@code {

    [CascadingParameter] 
    public RzViewContext? ViewContext { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

    protected override void OnParametersSet()
    {
        
        base.OnParametersSet();
    }

}