@using Rizzy.Components.Form
@using Rizzy.Framework.Mvc
@using RizzyDemo.Controllers.Home.Models
@using Microsoft.AspNetCore.Mvc

<div id="information">

	<h3>Information</h3>

	<RzEditForm hx-post="@ViewContext.FormUrl" hx-target="#information">
		<RzValidationSummary/>

		<div class="form-group">
			<label for="name">Name:</label>
			<RzInputText id="name" class="form-control" @bind-Value="Person.Name"/>
			<RzValidationMessage For="@(() => Person.Name)"/>
		</div>

		<button type="submit" class="btn btn-primary">Submit</button>
	</RzEditForm>

</div>

@* ReSharper disable once CSharpWarnings::CS8618 *@
@code {
	[Inject]
	public RzViewContext ViewContext { get; set; } 

	public Person Person { get; set; } = new();

	protected override void OnInitialized()
	{
		Person = ViewContext.FormModel<Person>();
	}
}
