@using Rizzy.Components.Form
@using Rizzy.Framework.Mvc
@using RizzyDemo.Controllers.Home.Models
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Rizzy

<div id="information">

    <h3>Information</h3>

    <EditForm Model="Person" FormName="PersonEdit" hx-post="/home/information" hx-target="#information">
        <RzInitialValidator/>
        <RzValidationSummaryBase/>

        <div class="form-group">
            <label for="name">Name:</label>
            <RzInputTextBase class="form-control" @bind-Value="Person.Name"/>
            <RzValidationMessageBase For="@(() => Person.Name)"/>
        </div>

        <RzValidationSummaryBase/>

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>

</div>

@* ReSharper disable once CSharpWarnings::CS8618 *@
@code {

    [SupplyParameterFromForm] 
	public Person Person { get; set; } = new ();

    [CascadingParameter]
    public HttpContext? HttpContext { get; set; }

    protected override void OnInitialized()
    {
        base.OnInitialized();
    }

	protected override void OnParametersSet()
	{
		base.OnParametersSet();
	}

}
