@using Rizzy.Components.Form
@using Rizzy.Framework.Mvc
@using RizzyDemo.Controllers.Home.Models
@using Microsoft.AspNetCore.Mvc
<h3>Information</h3>

<EditForm EditContext="@ViewContext.EditContext">
	<DataAnnotationsValidator />
	<!--<RzInitialValidator/>-->
	<ValidationSummary />

	<div class="form-group">
		<label for="name">Name:</label>
		<InputText id="name" class="form-control" @bind-Value="Person.Name" />
		<ValidationMessage For="@(() => Person.Name)" />
	</div>

	<button type="submit" class="btn btn-primary">Submit</button>
</EditForm>

@* ReSharper disable once CSharpWarnings::CS8618 *@
@code {
	[CascadingParameter]
	public RzViewContext ViewContext { get; set; } 

	public Person Person { get; set; } = new();

	protected override void OnParametersSet()
	{
		Person = (Person)ViewContext.EditContext.Model;
	}

}
