@using Rizzy.Components.Form
@using Rizzy.Framework.Mvc
@using RizzyDemo.Controllers.Home.Models
@using Microsoft.AspNetCore.Mvc
@using Microsoft.AspNetCore.Mvc.ViewFeatures
@using Rizzy

<div id="information">

	<h3>Information</h3>

    <EditForm Model="Person" hx-post="/home/information" hx-target="#information">
        <RzInitialValidator/>
        <RzValidationSummary/>

        <div class="form-group">
            <label for="name">Name:</label>
            <RzInputText class="form-control" @bind-Value="Person.Name"/>
            <RzValidationMessage For="@(() => Person.Name)"/>
        </div>
        
        <RzValidationSummary/>

        <button type="submit" class="btn btn-primary">Submit</button>
    </EditForm>

</div>

@* ReSharper disable once CSharpWarnings::CS8618 *@
@code {
    [Inject] public RzViewContext ViewContext { get; set; } = default!;

    [SupplyParameterFromForm]
	public Person Person { get; set; } = new();
}
