@using RizzyDemo.Components.Layout
@using Rizzy
@inject RzViewContext ViewContext

@layout MainLayout

<PageTitle>Privacy</PageTitle>

<h1>Privacy</h1>

<p>Use this page to detail your site's privacy policy.</p>

@code
{
	protected override void OnInitialized()
	{
		ViewContext.PageTitle = "Privacy";
	}
}
